@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/sand.css';

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: pink;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container-v {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kid-name {
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  width: 50%;
  border-bottom: none;
}

.kid-in-list {
  border: 1px solid black;
  border-radius: 0px 10px 10px 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

li {
  list-style: none;
}

p {
  margin:0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
} */

body {
  height: 100dvh;
  background-color: var(--sand-2);
}

.swipe-container {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

/* .swipe-container::-webkit-scrollbar {
  display: none;
} */

.swipeable {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.swipeable:first-child {
  margin-left: 50%;
}

.swipeable:last-child {
  margin-right: 50%;
}

.loading {
  width: 50%;
  aspect-ratio: 1/1;
  outline: solid var(--amber-7) 5px;
  border-radius: 10%;
  margin: auto;
  animation-duration: 3s;
  animation-name: fluctuate;
  animation-iteration-count: infinite;
}

@keyframes fluctuate {
  10% {
    outline: solid var(--amber-7) 4px;
  }
  20% {
    outline: solid var(--amber-7) 3px;
  }
  30% {
    outline: solid var(--amber-7) 2px;
  }
  40% {
    outline: solid var(--amber-7) 1px;
  }
  50% {
    outline: solid var(--amber-7) .5px;
  }
}