@import '@radix-ui/colors/amber.css';

.swipe-container {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

/* .swipe-container::-webkit-scrollbar {
  display: none;
} */

.swipeable {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.kid-size {
  width: 220px;

}

.swipeable:first-child {
  margin-left: 50%;
}

.swipeable:last-child {
  margin-right: 50%;
  align-self: center;
}

.loading {
  width: 50%;
  aspect-ratio: 1/1;
  outline: solid var(--amber-7) 5px;
  border-radius: 10%;
  margin: auto;
  animation-duration: 3s;
  animation-name: fluctuate;
  animation-iteration-count: infinite;
}

@keyframes fluctuate {
  10% {
    outline: solid var(--amber-7) 4px;
  }
  20% {
    outline: solid var(--amber-7) 3px;
  }
  30% {
    outline: solid var(--amber-7) 2px;
  }
  40% {
    outline: solid var(--amber-7) 1px;
  }
  50% {
    outline: solid var(--amber-7) .5px;
  }
  60% {
    outline: solid var(--amber-7) 1px;
  }
  70% {
    outline: solid var(--amber-7) 2px;
  }
  80% {
    outline: solid var(--amber-7) 3px;
  }
  90% {
    outline: solid var(--amber-7) 4px;
  }
}

